*, *::before, *::after { box-sizing: border-box }

:root {

    --bg: #151515;
    --box: #272727;
    --text: #ffffff;

    --primary: #264d96;
    --primary-l: #3a65b5;
    --primary-d: #264d96;

}

@font-face {
    font-family: 'rubik';
    src: url('./fonts/rubik.ttf')
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'rubik', Helvetica, sans-serif, Calibri;
    overflow-x: hidden;
    scroll-behavior: smooth
}

hr {
    border: none;
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid var(--box)
}

/* Hipervínculos */

a {
    color: var(--primary-l);
    text-decoration: none
}

a:not(.no-decoration):hover { text-decoration: underline; }

/* Botones */

.btn {
    display: block;
    width: fit-content;
    padding: 1rem;
    font-weight: bold;
    color: var(--text);
    background-color: var(--primary);
    border: 3px solid var(--primary);
    margin: 0 1rem;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: .2s
}

.btn.invert {
    background-color: var(--box);
    border-color: var(--box)
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn:not(.disabled):hover {
    background-color: transparent;
}



/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem
}
    header > .left { display: flex;align-items: center }

    /* Logo */
    .logo {
        padding-left: 1rem
    }

    /* Nombre de la Empresa */
    header > .left > h1 {
        color: var(--text);

        font-size: 1.7rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header > .left:hover {
        text-decoration: none!important
    }

    header > .left > h1 > small { color: var(--primary) }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5rem
}

nav > .btn:not(.purchase) {
    border: none
}
nav > .btn:not(.purchase):hover {
    background-color: var(--primary);
    transform: scale(1.075)
}

nav > .btn.purchase {
    background: none!important;
    border:none;
    border-left: 3px solid var(--primary);
    border-right: 3px solid transparent;
    position: relative;
}
nav > .btn.purchase > .price{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    text-align: center
}
nav > .btn.purchase > .price > b{
    background-color: var(--primary);
    padding: .25rem .3rem;
    border-radius: 12px;
    transition: .2s ease padding
}

nav > .btn.purchase:hover {
    border-right: 2px solid var(--primary);
    border-width: 3px
}
nav > .btn.purchase:hover > .price > b{
    padding: .25rem .75rem
}


/* SECTION: Application */

#Application {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 100%
}
    /* Imagen de la aplicación */
    #Application > .appImg {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        position: relative;
        top: 16px;
        width: fit-content;
        height: fit-content;
        position: sticky;
        top: 48px;
        left: 0;
        background-color: var(--primary)
    }
    #Application > .appImg > img { 
        padding: 0;
        transition: .3s opacity
    }
    #Application > .appImg.complete > img {
        opacity: 0.1
    }
    /* Título de Imagen */
    #Application > .appImg > h3{
        margin: 0;
        padding: .5rem 0;
        background-color: var(--primary);
        text-align: center;
    }
    /* Opciones */
    #Application .options {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        padding: .5rem;
    }

    #Application .options > .option {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        position: relative;
        background-color: var(--box);
        cursor: pointer;
        transition: .3s ease
    }

    #Application .options > .option.active {
        background-color: var(--primary);
        width: 24px;
        height: 24px;
        top: -4px;
        left: -4px;
    }

    #Application .options > .option > .optionText {
        position: absolute;
        top: -48px;
        left: 8px;
        white-space: nowrap;
        background-color: var(--box);
        padding: .5rem;
        border-radius: 12px;
        user-select: none;
        pointer-events: none;
        opacity: 0;
        z-index: -1;
        transition: .2s ease opacity
    }

    #Application .options > .option.active:hover > .optionText {
        background-color: var(--primary)
    }

    #Application .options > .option:hover > .optionText {
        pointer-events: none;
        opacity: 1;
        z-index: 10;
        user-select: text
    }

    /* Aplicación Info */
    #Application > .appInfo > h2 {
        text-align: center;
    }

    #Application > .appInfo ul { 
        padding-left: 20px;
        list-style:none
    }
    #Application > .appInfo ul > li {
        padding: .5rem
    }

    #Application > .appInfo > .advantages {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #Application > .appInfo > .advantages > img{
        max-height: 200px;
    }
/* Trust */

#Trust {
    margin-top: 2rem;
    background-color: var(--primary);
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

#Trust > .demo {
    padding: 2rem .5rem;
    padding-right: 2rem;
    border-right: 10px solid var(--bg)
}

#Trust > .demo > .btn {
    margin: 0 auto
}

#Trust > .demo > h2 {
    text-align: center;
}

#Trust > .TrustBtns {
    padding: 2rem 0;
    text-align: center
}

#Trust > .TrustBtns > h2 { margin-top: 0 }

#Trust > .TrustBtns > .btn {
    margin: 0 auto
}

#contact {
    margin: 4rem 0;
    text-align: center;
}

#contact > .btn { margin: 0 auto }

/* Footer */

footer {
    width: 80%;
    margin: 0 auto;
    background-color: var(--primary);
    padding: .75rem;
    margin-bottom: 1rem;
}

footer > p { 
    line-height: 1.3;
    margin: 0;
    text-align: center
}

/* Box */

.box {
    padding: 1rem .5rem;
    background-color: var(--box);
    position: relative
}

.box.invert {
    background-color: var(--primary)
}

.left-20 {
    left: -20px
}

/* Box Borders Effect Around */

.box-borders { position: relative }
.box-borders:hover::before, 
.box-borders:hover::after, 
.box-borders.complete::before,
.box-borders.complete::after {
    width: calc(100% + 6px);
    height: calc(100% + 6px)
}
.box-borders::before, .box-borders::after {
    content: '';
    position: absolute;
    width: 6%;
    height: 3%;
    user-select: none;
    z-index: -1;
    transition: .3s ease-out width, .3s ease-in height
}
.box-borders::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid var(--primary);
    border-left: 3px solid var(--primary);
    /*border-radius: 12px 0 0 0*/
}
.box-borders::after {
    bottom: -3px;
    right: -3px;
    border-bottom: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
    /*border-radius: 0 0 12px 0*/
}

/* Modal Special */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: .2s opacity
}

.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    user-select: none;
    pointer-events: none;

}

.modal.active {
    user-select: text;
    z-index: 1000;
    opacity: 1
}

.modalContent {
    position: relative;
    width: 80vw;
    min-height: 90vh;
    background-color: var(--bg);
    border-top: 3px solid #bb2424;
    border-right: 3px solid #bb2424;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modalContent > h2 {
    text-align: center;
    margin: .5rem 0
}

.modalContent > .modalText {
    padding: 0 .5rem
}

.modalContent > .modalClose {
    position: absolute;
    top: -16px;
    right: -16px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #bb2424;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.modalContent > .btn {
    margin: 0 auto
}

/* Notificaciones */

.notification {

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    z-index: -1;
    transition: .2s ease opacity;

}

.notification.active {
    opacity: 1;
    z-index: 10000
}

.notification > p {
    background-color: var(--box);
    padding: .75rem;
    border-radius: 12px;
    border-left: 3px solid var(--primary);
    margin: .5rem 0
}

.downloadDemo { margin: 0 auto }

/* RWD Mobile */

.mt-0 { margin-top: 0 }
.center { text-align: center }
.on-mobile { display: none }

@media screen and (max-width: 768px) {

    .on-mobile { display: block }
    .hide-mobile { display: none }

    /* Header Mobile */

    header {
        margin-bottom: 2rem;
        flex-direction: column
    }

    header > .left > .logo { padding: 0 }

    header > .left > .logo > img {
        width: 70px;
        height: 70px
    }

    header > .left > h1 {
        font-size: 1.4rem
    }

    /* Application */
    #Application {
        flex-direction: column;
        padding: .5rem
    }

    #Application > h2.mt-0 {
        margin-bottom: 56px
    }

    #Application > .appImg {
        margin: 0 auto;
        position: relative;
        top: 0
    }

    .left-20 { left: 0 }

    .modalContent {
        width: 95vw;
        height: 90vh;
        padding: 1rem 0;
        justify-content: space-evenly;
        border-radius: 0;
        border: none
    }

    .modalContent > .modalText { padding: 0 1rem }

    .modalContent > .modalClose {
        top: -16px;
        right: calc(50% - 16px)
    }

    .advantages {

        flex-direction: column;

    }

    .advantages > img {
        display: none
    }

    #Trust { flex-direction: column }
    #Trust > .demo {
        border-right: 0;
        border-bottom: 10px solid var(--bg)
    }

    .block-on-mobile { display: block }
    .center-mobile { text-align: center }

    #contact {
        padding: 0 .5rem
    }

    footer { width: 100% }
}